
<html>
    <head>
        <style>
            input[type=search] {
                border: 1px dotted #999;
                border-radius: 0;
                
                -webkit-appearance: none;
            }
            h1{
                color: aquamarine;
            }
            </style>
    </head>
    <body>
        <h1>search a movie</h1>
        <br><br>
        <div>
            <form action="/results" method="GET">
        
                <input type="text" name="mvn" placeholder="enter movie name..">
                <br>
                <br>
                <button>submit</button>
            
            </form>
        </div>
        
    </body>
</html>

